@font-face {
    font-family: 'IR';
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'RB';
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'RR';
    src: url(../fonts/Roboto-Regular.ttf);
}